@model IEnumerable<geetzcsharp.Models.Category>

<h1>Category List</h1>
<a class="btn btn-primary" asp-action="Create">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
